{% for job in jobs %}
<div class='mb-5 pb-5'>
  <div class="row">
    <div class="col-9 mb-5">
      <h4 style="color: rgb(120,120,120)">{{ job.title }}</h4>
      <div><b>Location:</b> {{ job.location }}</div>
      {% if job.salary %}
      <div><b>Salary:</b> {{ job.prettier_salary }}</div>
      {% endif %}
      <div><b>Job Requirement:</b> {{ job.requirements }}</div>
      <div><b>Responsibilities: </b>{{ job.responsibilities }}</div>
    </div>
    <div class="col-3 mb-5">
      <a class="btn btn-outline-primary" href="job/{{job.id}}">Apply</a>
  </div>
</div>
<hr>
{% endfor %}